
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
@media(min-width:100px)
{

    .mainTitle h1
    {
        margin-top: -100px;
        font-size: medium;
        text-align: center;

    }

    .loungeMain
    {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 250px;

    }

    .linksMain
    {
        display: flex;
        flex-direction: column;
       
    }

    .links
    {

        display: grid;
        grid-template-columns: repeat(2,1fr);
        position: relative;
        margin-left: 0px;
        padding: 10px 0;
    }

    .links a
    {
        color: black;
        background-color: aliceblue;
        margin: 10px 0;
        padding: 3px 10px;
        border-radius: 10px;
        width: max-content;

    }

    .links a:hover
    {
        color: white;
        background-color: #377fad;
    }



    .main 
    {
        border: 1px solid white;
        padding: 10px 0;  
        width: auto;
        height: max-content;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: 300ms ease;
    


    }

    .main img
    {
        width:200px;
        height: 200px;
        border-radius: 15px;
        margin-top: 15px;
    }

    .main h1
    {
        font-size: medium;
    }

    .main h2
    {
        color: black;
        font-size: medium;
        margin-top: 10px;
    }



}

@media(min-width:990px)
{
    .linksMain{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .links
    {
        display: flex;
        flex-direction: column;
    }

    .links a
    {
        cursor: pointer;
        margin: 10px 15px;
        transition: 100ms ease all;
    }


    .main img
    {
        width:400px;
        height: 250px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .main h1
    {
        font-size: large;
    }

}

@keyframes scaler
{
    0%
    {
        transform: scale(0);
    }

    100%
    {
        transform: scale(1);
    }
}