*{
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

@media(min-width:100px)
{
    .containerWhole
    {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-items: center;
    }

    h3
    {
        margin-bottom: 10px;
        font-size: x-large;
        text-align: center;
        
    }

    .profileBar
    {
        margin-top: 35px;
    }
    .information
    {
        display: flex;
        flex-direction: column;
        transform: scale(1);
        transition: all ease 300ms;
    }

    .information.mini
    {
        position: absolute;
        transform: scale(0);
    }

    .information img 
    {
        border-radius: 300px;
        margin-left: 10px;
        margin-bottom: 30px;
        
    }

    .info .email
    {
        font-size: small;
        text-align: center;
        margin-top: -15px;
        margin-left: -70px;
    }

    .menu
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin-top: 20px;
    }

    .menu h4
    {
       
        border: 1px solid white;
        padding: 10px;
        border-radius: 10px;
    }

    .menu h4:hover 
    {
        color: white;
        background-color:var(--primary-color);
        border: 1px solid white;
    }

    .menu .fas
    {
        margin-right: 10px;
    }

    .main
    {
        transition: all ease 300ms;
        transform: scale(0);
        position: absolute;
    }


    .main.active
    {

        transform: scale(1);
        border-radius: 15px;
        padding: 20px;
        background-color: white;
        margin: 0px 10px;
        margin-top: 30px;
    }


    .main h3
    {
        margin-left: -40px;
    }

    .chooseBtns
    {
        display: flex;
        justify-content: space-around;
        margin-top: 80px;
        margin-left: -50px;
    }

    .chooseBtns button
    {
        width: 40%;
    }
    .main .mainTitle
    {
        font-size: medium;
    }
    
    .main .wishItems
    {
        border: 1px solid black;
        width: 100%;
        padding: 15px 0;
        text-align: center;
        border-radius: 15px;
        margin-top: 15px;
    }

    
}

@media (min-width:600px)
{
    body
    {
        height: 800px;
    }
    .menu
    {
        text-align: center;
    }
    .menu h4 
    {
        border: 1px solid black;
        cursor: pointer;
    }

    .menu h4 
    {
        transition: 600ms ease;
    }

    .menu h4:hover 
    {
        color: white;
        background-color:#377fad;
        border: 1px solid white;
    }

    .mainMenu
    {
        display: flex;
       
    }


    .main
    {
        transition: all ease 300ms;
        transform: scale(0);
   
        position: absolute;
    }

    .menu.allign
    {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    
    .main{
        min-width: 450px;
        max-width: 450px;
        min-height: 350px;
        max-height: 350px;
    }

    .main
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .main .wishItems
    {
        border: 1px solid black;
        width: 100%;
        padding: 15px 0;
        text-align: center;
        border-radius: 15px;
        margin-top: 15px;
    }
    .main img
    {
        width: 200px;
        text-align: center;
    }
    .main.active
    {

        transform: scale(1);
        position: relative;
        padding: 50px;
        border-radius: 15px;
        background-color: white;
        margin: 0px 150px;
        margin-top: 30px;
    }

    .chooseBtns
    {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 80px;
        margin-left: 30px;
    }

    .chooseBtns button
    {
        width: 40%;
    }

    
    .main h3
    {
        margin-left: 0px;
    }

    .information
    {
        text-align: center;
    }
 
}