*
{
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

@media(min-width:100px)
{


    .accountForm
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 90px 0px;
        margin-left: 10px;
    }
    
    .label
    {
        font-size: large;
        font-weight: bold;
        padding: 20px 0;
    }
    .log
    {
        color: #377fad;
    }

    .accountForm input 
    {
        border: 0;
        border-bottom: 1px solid black;
        padding: 15px;

    }

    input:focus
    {
        outline:none
    }
  

    input
    {
        margin-bottom: 20px;
    }

    .btn 
    {
        color: white;
    }

    .forgot,.signUp,.signInWith
    {
        text-align: center;
        margin-bottom: 10px;
    }

    .both
    {
        margin-top: -30px;
    }

    .signInWith 
    {
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 10px;
    }

    .signInWith span 
    {
        font-size: medium;
        font-weight: bold;
        color: #377fad;
    }

    .labelP
    {
        font-size: small;
        margin-top: 20px;
    
    }

    button 
    {
        color: white;
        border: 0;
        padding: 15px;
        background-color: #5bccf6;
        border-radius: 10px;
        font-size: medium;
        margin-top: 20px;

       
    }


   
}

@media (min-width:600px)
{


    .accountForm
    {
        align-items: center;
    }

    .userClass,.passClass
    {
        width: 40%;
    }
    .accountForm input[type="submit"]
    {
        width: 15%;
        margin-left: -30px;
    }
    .accountForm input[type="text"],.accountForm input[type="email"]
    {
        width: 80%;
        font-size: medium;
    }

    .accountForm input[type="password"]
    {
        width: 80%;
    }
    .accountBtn
    {
        width: 1%;
    }

    .labelP
    {
        font-size: medium;
    
    }

    button 
    {
        cursor: pointer;
        transition: all 300ms ease;
        margin-left: -30px;
    }

   button:hover 
    {
        transform: scale(1.1);
    }




}

