

@media(min-width:100px)
{
      /*modal*/

      .toppart 
      {
          display: flex;
          flex-direction: column;
          max-height: 300px;
          padding-bottom: 80px;
      }

      .toppart img
      {
          width: 250px;
          align-self: center;
      }
      .orderedQuantity
      {
          position: absolute;
          margin-left: 40%;
      }
      #inModal,.fa-circle-minus
      {
          font-size: 16px;
      }
      .ordersList
      {
          display: flex;
          justify-content: space-between;
          border: 1px solid white;
          padding: 10px;
          position: relative;
          border-radius: 10px;
          margin-bottom: 10px;
          box-shadow: 0 0 5px grey;
      }

      .ordersList .fa-trash-can
      {
          color: red;
      }
    .modal,.credit{
     
        width: 80%;
        text-align: center;
        position: absolute;
        left: 9%;
        padding: 15px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
        transition: 300ms ease-in;
        z-index: 2;
     
    }

    .modal
    {
        transform: translateX(-200px);
        pointer-events: none;
        opacity: 0;
    }

    .smallPop.active
    {
        transform: scale(1);
    }

    .credit.active,.modal.active
    {
        pointer-events: all;
        transform: translateX(0);
        opacity: 1;
    }
    .modal .topPart
    {
        display: flex;
        padding: 50px 0;
        justify-content: space-between;

    }

    .modal button 
    {
        width: 30%;
        align-self: center;
        margin-bottom: 30px;

    }

    .modal button:hover{
        transform: scale(1);
    }
    .modal .pending 
    {
        font-weight: bold;
        font-size: large;
        padding-bottom: 20px;
    }

   .modal .topPartSecond
    {
        display: flex;
        flex-direction: column;
    }

    .pendingBtn,.foodBtn,.quantityBtn
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .orderPlace,.pricee
    {
        padding: 10px 0;
    }
    .sign
    {
        display: flex;
    }

    #p,#m
    {
        padding-left: 10px;
    }
    #delMain,#del
    {
        color: red;
    
        
    }

    .namePrice
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

   .modal .information
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
   .modal .user,.modal .phoneNumber,.modal .gender,.modal .address,.modal .options,.modal .payment
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .modal .user
    {
        left: 0%;
    }
    .modal caption
    {
        font-weight: bolder;
    }

   .modal input 
    {
        border: 0;
        border-bottom: 1px solid black;
        padding: 5px 0;
    }
   .modal input:focus
    {
        outline:none
    }
  

  .modal  input
    {
        margin-bottom: 20px;
    }
   .modal img
    {
        padding: 0 10px;
        border-radius: 15px;
    }

  .modal  .Indelivery
    {
        margin-top: 20px;
    }

    .overlay
    {
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        background-color: rgb(5, 5, 5);
        opacity: 0.8;
        transform: scale(0);
        transition: ease-in 10ms;
        z-index: 1;
    }

    .overlay.open
    {
        transform: scale(1);
    }

    /*foodinfo*/

    .foodInformationModal
    {
        position: absolute;
    }

    .smallPop
    {

        border: 0;
        position: fixed;
        top: 20%;
        bottom: 0;
        left: 30%;
        right: 0;
        width: 40%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        transform: scale(0);
        transition: 200ms ease;
    }

    .smallPop.active 
    
    {
        transform: scale(1);
    }


    
    .firstModal
    {
        z-index: 3;
        background-color: white;
        margin-top: 60px;
        border-radius: 15px;
        width: 600px;
        height: 400px;
        
    }

    .secondModal
    {
        position: absolute;
        background-color: #377fad;
        padding: 10px 50px;
    /*    left: 40%;*/
        transform: translateY(-100px);
        transform: translateX(0px);
        opacity: 0;
        width: 200px;
        border-radius: 15px;
        z-index: 5;
        width: 300px;
        height: 300px;
        transition: all 1000ms ease;
        align-items: center;
        color: white;
        text-align: center;
    }

    .secondModal.active
    {
        transform: translateY(200px);

        opacity:1 ;
    }

    .smallPop .foodImage
    {
        display: flex;
        padding: 50px;
    }

    .secondModal
    {
        background-color: #377fad;
    }
    .secondModal button 
    {
        background-color: transparent;
        border: 1px solid white;
        width: 100%;
    }

    .secondModal button:hover
    {
        transform: scale(1);
    }

    #smallDel
    {
        position: relative;
        margin-left: 100%;

    }

    .credit
    {
   
        width: 78%;
        left: 10%;
        min-height: 450px;
        opacity: 0;
        transition: all ease 400ms;
        transform: translateX(-200px);
        pointer-events: none;
    }



    .paymentTop
    {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
    }    
    
    .credit i
    {
        color: red;
        margin-left: 130px;
        cursor: pointer;
    }

    .personInfo
    {
        display: flex;
        flex-direction: column;
    }

    .personInfo input {
        padding: 20px;
        font-size: large;
    }

    .creditSvg
    {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        align-items: start;
        min-width:200px;
        min-height: 300px;
        border: 1px solid black;
        border-radius: 15px;
        margin: 20px 0;
    }

    .creditSvg div
    {
        margin-bottom: 20px;
    }

    .creditSvg .agree
    {
        margin-top: 50px;
    }

    .agree label {
        margin-left: 10px;
    }

    .middleNumber
    {
        position: absolute;
      
        height: 21%;
        padding-top: 0px;  
        background: red;
      left: -10%;
      overflow: hidden;
    
 
        padding-bottom:25px;    
        

    }

    .middleNumber input {
        position: relative;
        background-color: #fff;
        color: black;
        height: 33px;
        text-align: center;
        font-family: poppins;
        font-size: medium;
        margin-top: -2px;
      
    }

    .money
    {
        position: relative;
        display: flex;

        width: 60%;
        margin-left: 110px;
    }

    .pickTime,.fillData
    {
        transform: scale(0);
        transition: all ease 150ms;
    }

    .pickTime.active
    {
        transform: scale(1);
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
    }

    .fillData.active{
        transform: scale(1);
        position: absolute;
        margin-top: 19%;
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
    }


}

@media(min-width:600px)
{
    .smallPop
    {
        position: absolute;
        margin-top: 20px;
        top: 80%;
        left: 30%;
    }

}
@media(min-width:1000px)
{
    .credit
    {
        width: 40%;
        left: 30%;
        min-height: 480px;
        opacity: 0;
        transition: all ease 400ms;
        transform: translateX(-200px);
        pointer-events: none;
    }

    #smallDel
    {
        margin-left: 40%;
    }
    .modal
    {
        width: 40%;
        left: 30%;
        padding: 0 50px;
    }

   .modal .pending 
    {
        font-size: x-large;
    }
    #del, #delMain, #p,#m, #smallDel{
        cursor: pointer;
    }

    .smallPop
    {
        position: fixed;
        margin-top: -80px;
        border: 0;
        top: 33%;
        height: 60%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }


    .smallPop img 
    {
        width: 350px;
    }

    .smallPop img#Drink
    {
        width: 250px;
        margin-top: -20px;
    }

    .firstModal
    {
        z-index: 3;
        background-color: white;
        border-radius: 15px;
        width: 600px;
        height: 400px;
        
    }

    .secondModal
    {
        position: absolute;
        background-color: #377fad;
        margin-top: 100px;
        padding: 10px 50px;
    /*    left: 40%;*/
        transform: translateX(-100px);
        opacity: 0;
        width: 200px;
        border-radius: 15px;
        z-index: 5;
        width: 300px;
        height:max-content;
        transition: all 1000ms ease;
        align-items: center;
        color: white;
        text-align: center;
    }

 .secondModal.active
    {
        transform: translateX(330px);

        opacity:1 ;
    }

    .smallSecond .fas 
    {
        left:35%;
        color: white;
    }

    .secondModal button 
    {
        background-color: transparent;
        border: 1px solid white;
        width: 100%;
        margin-left: 4%;
    }
    #inModal,.fa-circle-minus,.fa-trash-can
    {
        cursor: pointer;
    }
}